<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.propify.challenge.PropertyMapper">

    <insert id="insert">
INSERT INTO property (rent_price) VALUES (#{rentPrice});
    </insert>

    <update id="update">
UPDATE property ...
    </update>

    <delete id="delete">
DELETE FROM property ...
    </delete>

    <select id="search" resultMap="PropertyMap">
SELECT * FROM property WHERE rent_price BETWEEN #{minRentPrice} AND #{maxRentPrice};
    </select>

    <select id="findById" resultMap="PropertyMap">
SELECT * FROM property WHERE id = #{id};
    </select>

    <resultMap id="PropertyMap" type="com.propify.challenge.Property" >
        <result property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="rentPrice" column="rent_price"/>
        <result property="emailAddress" column="email_address"/>
        <result property="code" column="code"/>
        <association property="type" javaType="com.propify.challenge.PropertyType">
            <result property="type" column="type"/>
        </association>
        <association property="address" column="id_address" javaType="com.propify.challenge.Address"
                     select="com.propify.challenge.AddressMapper.findById"/>
    </resultMap>

</mapper>
